<h1><%= @event.name %></h1>

<p>
  <strong>Descrição:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Local:</strong>
  <%= @event.local %>
</p>

<p>
  <strong>Data de Início:</strong>
  <%= @event.start_date.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Data de Fim:</strong>
  <%= @event.end_date.strftime("%d/%m/%Y") %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Talks', event_talks_path(@event) %> |
<%= link_to 'Back', events_path %>
